#Created by Constraints Editor (xc6slx25-ftg256-3) - 2015/01/02

#NET "clk50" PERIOD = 20 ns | LOC = "K3"; # IO_L42P_GCLK25_TRDY2_M3UDM
#NET "clk32" PERIOD = 31.25 ns | LOC = "J4"; # IO_L42N_GCLK24_M3LDM_3
NET "clk20" PERIOD = 50 ns | LOC = "P123"; # IO_L37N_GCLK12_0

NET "LEDS<0>" LOC="P82";
NET "LEDS<1>" LOC="P81";
NET "LEDS<2>" LOC="P80";
NET "LEDS<3>" LOC="P79";
NET "LEDS<4>" LOC="P78";
NET "LEDS<5>" LOC="P75";
NET "LEDS<6>" LOC="P74";
NET "LEDS<7>" LOC="P67";

NET "hdmi_out_n<0>" LOC="P114" | IOSTANDARD="TMDS_33"; # IO_L65N_SCP2_0
NET "hdmi_out_p<0>" LOC="P115" | IOSTANDARD="TMDS_33"; # IO_L65P_SCP3_0
NET "hdmi_out_n<1>" LOC="P116" | IOSTANDARD="TMDS_33"; # IO_L64N_SCP4_0
NET "hdmi_out_p<1>" LOC="P117" | IOSTANDARD="TMDS_33"; # IO_L64P_SCP5_0
NET "hdmi_out_n<2>" LOC="P118" | IOSTANDARD="TMDS_33"; # IO_L63N_SCP6_0
NET "hdmi_out_p<2>" LOC="P119" | IOSTANDARD="TMDS_33"; # IO_L63P_SCP7_0
NET "hdmi_out_n<3>" LOC="P120" | IOSTANDARD="TMDS_33"; # IO_L62N_VREF_0
NET "hdmi_out_p<3>" LOC="P121" | IOSTANDARD="TMDS_33"; # IO_L62P_0
