//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 29 01:33:26 2020
//! **************************************************************************

SCHEMATIC START;
COMP "A_7" LOCATE = SITE "P41" LEVEL 1;
COMP "B_7" LOCATE = SITE "P40" LEVEL 1;
COMP "C_7" LOCATE = SITE "P35" LEVEL 1;
COMP "clk_20MHz" LOCATE = SITE "P123" LEVEL 1;
COMP "D_7" LOCATE = SITE "P34" LEVEL 1;
COMP "E_7" LOCATE = SITE "P32" LEVEL 1;
COMP "F_7" LOCATE = SITE "P29" LEVEL 1;
COMP "G_7" LOCATE = SITE "P27" LEVEL 1;
COMP "reset_SW" LOCATE = SITE "P46" LEVEL 1;
PIN reset_SW_pin<0> = BEL "reset_SW" PINNAME PAD;
PIN "reset_SW_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "blink_dot" LOCATE = SITE "P26" LEVEL 1;
COMP "com0" LOCATE = SITE "P44" LEVEL 1;
COMP "com1" LOCATE = SITE "P43" LEVEL 1;
COMP "com2" LOCATE = SITE "P33" LEVEL 1;
COMP "com3" LOCATE = SITE "P30" LEVEL 1;
COMP "pause_SW" LOCATE = SITE "P45" LEVEL 1;
PIN pause_SW_pin<0> = BEL "pause_SW" PINNAME PAD;
PIN "pause_SW_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

