//! **************************************************************************
// Written by: Map P.20131013 on Thu Sep 17 15:58:51 2020
//! **************************************************************************

SCHEMATIC START;
COMP "OUTPUT" LOCATE = SITE "P83" LEVEL 1;
SCHEMATIC END;

