
#NET "LED0_P95" LOC = P95;
#NET "LED1_P94" LOC = P94;
#NET "SW0_P66" LOC = P66;
#NET "SW1_P62" LOC = P62;

# PlanAhead Generated physical constraints 

NET "SW0" LOC = P66;
NET "SW1" LOC = P62;
NET "SW2" LOC = P61;
NET "SW3" LOC = P59;
NET "LED0" LOC = P82;
NET "LED1" LOC = P81;
NET "LED2" LOC = P80;
